<template>
    <div class="container">
        <Head>
            <title>Login</title>
        </Head>
        <form class="form-signin" @submit.prevent="userLogin">
            <h2 class="form-signin-heading">sign in now</h2>
            <div class="login-wrap">
                <div class="form-group">
                    <input type="text" v-model="user.email" :class="[errors.email && 'is-invalid']" class="form-control" placeholder="Email" autofocus>
                    <span class="text-danger" v-if="errors.email">{{ errors.email }}</span>
                </div>
                <div class="form-group">
                    <input type="password" v-model="user.password" :class="[errors.password && 'is-invalid']" class="form-control" placeholder="Password">
                    <span class="text-danger" v-if="errors.password">{{ errors.password }}</span>
                </div>
                <div class="form-group">
                    <label class="checkbox">
                        <input type="checkbox" name="remember" id="remember" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
            </div>
        </form>

    </div>
</template>

<script>
import { Link, Head } from '@inertiajs/inertia-vue'
export default {
    components: {
        Link,
        Head,
    },
    props: ['errors'],

    data() {
        return {
            user: {
                email: null,
                password: null,
            },
        }
    },

    mounted() {

    },

    methods: {
        userLogin() {
            this.$inertia.post(route('login'), this.user)
        },
    },
}
</script>

