<template>
    <section id="container">
        <Head>
            <title>My app</title>
        </Head>

        <Header v-if="$page.props.auth.user"/>
        <Navbar v-if="$page.props.auth.user"/>
        <template>
            <section v-if="$page.props.auth.user" id="main-content">
                <article>
                    <slot />
                </article>
            </section>
            <section v-else>
                <article>
                    <slot />
                </article>
            </section>
        </template>
    </section>
</template>

<script>
import { Link, Head } from '@inertiajs/inertia-vue';
import Header from './Header';
import Navbar from './Navbar';

export default {
    components: {
        Link,
        Head,
        Header,
        Navbar,
    },

    props: ['flash'],

    mounted() {

    },


}
</script>
