<template>
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <Link :class="{'active': this.$page.url === '/admin/dashboard'}" :href="route('admin.dashboard')"><i class="fa fa-dashboard"></i><span>Dashboard</span></Link>
                </li>

                <li>
                    <Link :class="{'active': this.$page.url.startsWith('/admin/users')}" :href="route('admin.users.index')"><i class="fa fa-dashboard"></i><span>Users</span></Link>
                </li>

                <!--<li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-laptop"></i>
                        <span>Layouts</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="boxed_page.html">Boxed Page</a></li>
                        <li><a  href="horizontal_menu.html">Horizontal Menu</a></li>
                        <li><a  href="header-color.html">Different Color Top bar</a></li>
                        <li><a  href="mega_menu.html">Mega Menu</a></li>
                        <li><a  href="language_switch_bar.html">Language Switch Bar</a></li>
                        <li><a  href="email_template.html" target="_blank">Email Template</a></li>
                    </ul>
                </li>-->

            </ul>
        </div>
    </aside>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue'

export default {
    components: {
        Link,
    },

    data() {
        return {

        }
    },

    computed: {

    },

    mounted() {

    }
}
</script>
