<template>
    <div class="row paginate">
        <div class="col-md-3" v-if="from && to && total">
            <p class="mt-1">Showing {{ from }} to {{ to }} of {{ total }} entries</p>
        </div>
        <div :class="from && to && total ? 'col-md-9' : 'col-md-12'">
            <nav v-if="links.length > 3">
                <ul class="pagination">
                    <template v-for="link in links">
                        <li v-if="link.url === null" aria-current="page" class="page-item disabled">
                            <span class="page-link" v-html="link.label"></span>
                        </li>
                        <li v-else class="page-item" :class="{'active': link.active}">
                            <Link :href="link.url" class="page-link" v-html="link.label"></Link>
                        </li>
                    </template>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
import {Link} from '@inertiajs/inertia-vue';

export default {
    name: "Pagination",
    components: {
        Link,
    },
    props: {
        links: Array,
        from: Number,
        to: Number,
        total: Number,
    },
}
</script>

<style scoped>
.paginate {
    padding: 10px;
}
</style>
