<template>
    <section class="wrapper">
        <Head>
            <title>Users | Create</title>
        </Head>
        <div class="row">
            <div class="col-md-6">
                <section class="card">
                    <header class="card-header">
                        User Create
                    </header>
                    <div class="card-body">
                        <form @submit.prevent="userStore()">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" v-model="user.name" :class="[errors.name && 'is-invalid']" class="form-control" id="name" placeholder="Enter name">
                                <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" v-model="user.email" :class="[errors.email && 'is-invalid']" class="form-control" name="email" id="email" placeholder="Enter email">
                                <span class="text-danger" v-if="errors.email">{{ errors.email }}</span>
                            </div>

                            <div class="form-group">
                                <label for="avatar">Avatar</label>
                                <input type="file" :class="[errors.avatar && 'is-invalid']" @input="avatarPreview($event)" class="form-control" id="avatar" />
                                <span class="text-danger" v-if="errors.avatar">{{ errors.avatar }}</span>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" v-model="user.password" :class="[errors.password && 'is-invalid']" name="password" class="form-control" id="password" placeholder="Password">
                                <span class="text-danger" v-if="errors.password">{{ errors.password }}</span>
                            </div>

                            <div class="form-group">
                                <label for="password_confirmation">Confirm Password</label>
                                <input type="password" v-model="user.password_confirmation" name="password_confirmation" class="form-control" id="password_confirmation" placeholder="Confirm Password">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>

                            <!--<progress v-if="form.progress" :value="form.progress.percentage" max="100">
                                {{ form.progress.percentage }} %
                            </progress>-->
                        </form>
                    </div>
                </section>
            </div>

            <div class="col-md-6">
                <div class="image-preview" v-if="avatarView">
                    <img width="300" class="img-thumbnail img-fluid" :src="avatarView">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { Link, Head } from '@inertiajs/inertia-vue'

export default {
    components: {
        Link,
        Head,
    },
    props: ['errors', 'flash'],

    data() {
        return {

            user: {
                name: null,
                email: null,
                avatar: null,
                password: null,
                password_confirmation: null,
            },
            avatarView: null
        }
    },

    mounted() {

    },

    methods: {
        userStore() {
            this.$inertia.post(route('admin.users.store'), this.user)
        },

        avatarPreview(e) {
            var _this = this;
            if (e.target.files[0]) {
                let image = e.target.files[0];
                _this.user.avatar = image;
                if(image['type'] === 'image/jpeg' || image['type'] === 'image/png' || image['type'] === 'image/webp' || image['type'] === 'image/gif'){
                    let reader = new FileReader();
                    reader.readAsDataURL(image);
                    reader.onload = e => {
                        _this.avatarView = e.target.result
                    }
                }
            }
        },

    },
}
</script>
