<template>
    <section class="wrapper">
        <Head>
            <title>Users</title>
        </Head>

        <div class="row">
            <div class="col-lg-12">
                <section class="card">
                    <header class="card-header">
                        <strong>Users</strong>
                        <Link :href="route('admin.users.create')" class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus-square"></i> Create</Link>
                    </header>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-6">
                                <input type="text" @keyup.enter="searchUsers()" placeholder="Search Users..." v-model="search.key" class="form-control">
                            </div>
                            <div class="col-2">
                                <button @click="searchUsers()" class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <section id="flip-scroll">
                            <table class="table table-bordered table-striped table-condensed cf">
                                <thead class="cf">
                                <tr>
                                    <th>#ID</th>
                                    <th width="7%">Avatar</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(user, index) in users.data">
                                    <td>{{ user.id }}</td>
                                    <td>
                                        <template v-if="user.avatar">
                                            <img width="50" :src="'/storage/avatar/'+user.avatar">
                                        </template>
                                    </td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-cogs"></i>
                                            </button>
                                            <div class="dropdown-menu" x-placement="bottom-start">
                                                <Link class="dropdown-item" :href="route('admin.users.edit', user.id)"><i class="fa fa-edit"></i> Edit</Link>
                                                <a class="dropdown-item" @click="deleteUser(user.id)"><i class="fa fa-trash-o"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <Pagination :from="users.from" :to="users.to" :total="users.total" class="" :links="users.links"/>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </section>
</template>


<script>
import { Link, Head } from '@inertiajs/inertia-vue'
import Pagination from '../share/Pagination'

export default {
    components: {
        Link,
        Head,
        Pagination,
    },

    data() {
        return {
            search: {
                key: this.$page.props.key,
            },
        }
    },

    props: ['users', 'flash'],

    mounted() {
        if (this.$page.props.flash.success !== null) {
            this.$toastr.success(this.$page.props.flash.success, 'Success',);
        }
        if (this.$page.props.flash.error !== null) {
            this.$toastr.success(this.$page.props.flash.error, 'Error',);
        }


    },

    methods: {
        searchUsers () {
            this.$inertia.get(route('admin.users.index'), this.search)
        },
        deleteUser(id) {
            let _this = this;
            this.$swal({
                title: 'Are you sure?',
                text: "",
                type: 'warning',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: "Yes, Delete it!"
            }).then((result) => {
                if (result.value) {
                    this.$inertia.delete(route('admin.users.destroy', id));
                    this.$toastr.success("User delete successfully", 'Success',);
                }
            })
        }
    }
}
</script>
